

    <div class="login-container">
        <div class="login-header">
            <h2>Add Post</h2>
            
        </div>
        <div class="login-form">
            <form [formGroup]="postFrom" (ngSubmit)="submitPost()">
                <div class="input-group">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Titolo"
                        formControlName="titolo">
                </div>
                <div class="input-group">
                    <i class="fas fa-lock"></i>
                    <input type="text" placeholder="path Immagine"
                        formControlName="pathImg">

                </div>
                <div class="input-group">
                    <i class="fas fa-lock"></i>
                    <textarea type="text" placeholder="testo"
                        formControlName="descrizione">
                    </textarea>
                </div>
          
          <button type="submit" [disabled]="postFrom.invalid">Add Post</button>
        </form>
        </div>
    </div>